#allLibraries{
    display: grid;
}

@media(min-width:601px)
{
    #allLibraries{
        margin-top: 6vw;
        grid-template-columns: 33.33% 33.33% 33.33%;
        width: 90%;
        margin-left: 3.5%;
        grid-gap: 4vw 1.5vw;
        padding-bottom: 7vw;
    }
    
    .library {
        border-radius: 1vw;
        box-shadow: 0vw 0.5vw 0vw 0vw rgb(39, 130, 249);
        padding-bottom: 2vw;
        cursor: pointer;
    }
    .library img {
        border-top-right-radius: 1vw;
        border-top-left-radius: 1vw;
    }
    .libraryImg{
        position: relative;
    }
    .library .libraryDescription, .library .readMore {
        margin-left: 2vw;
    }
    .library .libraryDescription h1 {
        height: 3vw;
    }

    .library .readMore {
        margin-top: 6vw;
    }
    .library .readMore p {
        width:fit-content;
        width: -moz-fit-content;
    }
}
@media(max-width:600px)
{
    #allLibraries{
        margin-top: 6vw;
        grid-template-columns: 100%;
        width: 90%;
        margin-left: 3.5%;
        grid-gap: 8vw;
        padding-bottom: 10vw;
    }

    .library {
        width: 90%;
        margin-left: 5%;
        border-radius: 2vw;
        box-shadow: 0vw 1vw 0vw 0vw rgb(39, 130, 249);
        padding-bottom: 2vw;
        cursor: pointer;
    }
    .library img {
        border-top-right-radius: 2vw;
        border-top-left-radius: 2vw;
    }
    .libraryImg{
        position: relative;
    }
    .library .libraryDescription, .library .readMore {
        margin-left: 2vw;
    }
    .library .libraryDescription h1 {
        height:20vw;
    }
  
    .library .readMore{
        margin-top: 12vw;
    }
    .library .readMore p {
        width: fit-content;
        width: -moz-fit-content;
    }
   
}