#allServices{
    display: grid;
}

@media(min-width:601px)
{
    #allServices{
        margin-top: 6vw;
        grid-template-columns: 33.33% 33.33% 33.33%;
        width: 90%;
        margin-left: 3.5%;
        grid-gap: 4vw 1.5vw;
        padding-bottom: 7vw;
    }
    
    .service {
        border-radius: 1vw;
        box-shadow: 0vw 0.5vw 0vw 0vw rgb(39, 130, 249);
        padding-bottom: 2vw;
        cursor: pointer;
    }
    .service img {
        border-top-right-radius: 1vw;
        border-top-left-radius: 1vw;
    }
    .serviceImg{
        position: relative;
    }
    .service .serviceDescription, .service .readMore {
        margin-left: 2vw;
    }
    .service .serviceDescription h1 {
        height: 3vw;
    }
    .service .serviceDescription p.desc {
        margin-top: 2.5vw;
         height:5vw;
         line-height: 2.5vw;
    }
    .service .readMore {
        margin-top: 6vw;
    }
    .service .readMore p {
        width:fit-content;
        width: -moz-fit-content;
    }
}
@media(max-width:600px)
{
    #allServices{
        margin-top: 6vw;
        grid-template-columns: 100%;
        width: 90%;
        margin-left: 3.5%;
        grid-gap: 8vw;
        padding-bottom: 10vw;
    }

    .service {
        width: 90%;
        margin-left: 5%;
        border-radius: 2vw;
        box-shadow: 0vw 1vw 0vw 0vw rgb(39, 130, 249);
        padding-bottom: 2vw;
        cursor: pointer;
    }
    .service img {
        border-top-right-radius: 2vw;
        border-top-left-radius: 2vw;
    }
    .serviceImg{
        position: relative;
    }
    .service .serviceDescription, .service .readMore {
        margin-left: 2vw;
    }
    .service .serviceDescription h1 {
        height:7vw;
    }
    .service .serviceDescription p.desc {
        margin-top: 3vw;
        height:15vw;
        line-height: 7vw;
    }
    .service .readMore{
        margin-top: 12vw;
    }
    .service .readMore p {
        width: fit-content;
        width: -moz-fit-content;
    }
   
}